<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=DESKTOP-5PI51E7\SQLSERVER19;Initial Catalog=CarOffensesDB;Integrated Security=true"/>
	</connectionStrings>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>