<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=DESKTOP-SF1M583\SQLSERVER17;Initial Catalog=PaygahDB;Integrated Security=true"/>
  </connectionStrings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
