USE [master]
GO
/****** Object:  Database [PaygahDB]    Script Date: 1/14/2020 5:53:00 PM ******/
CREATE DATABASE [PaygahDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PaygahDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER17\MSSQL\DATA\PaygahDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PaygahDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER17\MSSQL\DATA\PaygahDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PaygahDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PaygahDB]
GO
USE [PaygahDB]
GO
/****** Object:  Table [dbo].[B]    Script Date: 1/14/2020 5:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B](
	[bid] [int] IDENTITY(1,1) NOT NULL,
	[bname] [nvarchar](50) NULL,
	[bcolor] [nvarchar](50) NULL,
 CONSTRAINT [PK_B] PRIMARY KEY CLUSTERED 
(
	[bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R]    Script Date: 1/14/2020 5:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R](
	[sid] [int] NOT NULL,
	[rid] [int] IDENTITY(1,1) NOT NULL,
	[bid] [int] NOT NULL,
	[rdate] [datetime] NULL,
 CONSTRAINT [PK_R] PRIMARY KEY CLUSTERED 
(
	[sid] ASC,
	[rid] ASC,
	[bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[S]    Script Date: 1/14/2020 5:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S](
	[sid] [int] IDENTITY(1,1) NOT NULL,
	[sname] [nvarchar](50) NULL,
	[srate] [int] NULL,
	[sage] [int] NULL,
 CONSTRAINT [PK_S] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[R]  WITH CHECK ADD  CONSTRAINT [FK_R_B] FOREIGN KEY([bid])
REFERENCES [dbo].[B] ([bid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[R] CHECK CONSTRAINT [FK_R_B]
GO
ALTER TABLE [dbo].[R]  WITH CHECK ADD  CONSTRAINT [FK_R_S] FOREIGN KEY([sid])
REFERENCES [dbo].[S] ([sid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[R] CHECK CONSTRAINT [FK_R_S]
GO
USE [master]
GO
