<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>پنل مدیریت - ورود</title>
    <link rel="stylesheet" href="assets/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/lib/all.min.css">
    <link rel="stylesheet" href="assets/css/default.css">
</head>

<body class="bg-dark">


   
    <section id="loginPanel">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 col-sm-7 col-10">
                    <div class="card bg-dark text-white">
                        <div class="card-header py-3">
                            <h4>انتخاب عملیات</h4>
                        </div>
                        <div class="card-body pt-5">
                           <div class="row">
                               <div class="col-6">
                                   <a href="/signin" class="btn btn-primary btn-block py-4">
                                       <span class="h3"> ورود</span>
                                   </a>
                               </div>
                               <div class="col-6">
                                    <a href="/signup" class="btn btn-success btn-block py-4">
                                       <span class="h3">ثبت نام</span>
                                   </a>
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="assets/js/lib/jquery-3.3.1.min.js"></script>
    <script src="assets/js/lib/bootstrap.min.js"></script>
</body>

</html>