USE [master]
GO
/****** Object:  Database [CarOffensesDB]    Script Date: 6/3/2020 11:16:55 AM ******/
CREATE DATABASE [CarOffensesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarOffensesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER19\MSSQL\DATA\CarOffensesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarOffensesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER19\MSSQL\DATA\CarOffensesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarOffensesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarOffensesDB]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 6/3/2020 11:16:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarCode] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[CarCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offense]    Script Date: 6/3/2020 11:16:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offense](
	[PersonId] [nvarchar](10) NOT NULL,
	[CarCode] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NULL,
	[Type] [nvarchar](50) NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_Offense] PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC,
	[CarCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 6/3/2020 11:16:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [nvarchar](10) NOT NULL,
	[Firstname] [nvarchar](50) NULL,
	[Lastname] [nvarchar](50) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonCar]    Script Date: 6/3/2020 11:16:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonCar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CarCode] [nvarchar](50) NULL,
	[PersonId] [nvarchar](10) NULL,
 CONSTRAINT [PK_PersonCar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Offense]  WITH CHECK ADD  CONSTRAINT [FK_Offense_Car] FOREIGN KEY([CarCode])
REFERENCES [dbo].[Car] ([CarCode])
GO
ALTER TABLE [dbo].[Offense] CHECK CONSTRAINT [FK_Offense_Car]
GO
ALTER TABLE [dbo].[Offense]  WITH CHECK ADD  CONSTRAINT [FK_Offense_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[Offense] CHECK CONSTRAINT [FK_Offense_Person]
GO
ALTER TABLE [dbo].[PersonCar]  WITH CHECK ADD  CONSTRAINT [FK_PersonCar_Car] FOREIGN KEY([CarCode])
REFERENCES [dbo].[Car] ([CarCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonCar] CHECK CONSTRAINT [FK_PersonCar_Car]
GO
ALTER TABLE [dbo].[PersonCar]  WITH CHECK ADD  CONSTRAINT [FK_PersonCar_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[PersonCar] CHECK CONSTRAINT [FK_PersonCar_Person]
GO
USE [master]
GO
